@import url('https://fonts.googleapis.com/css?family=Amaranth|Source+Sans+Pro&display=swap');
html{
    height: 100%;
    font-size: 1.1rem;
}
body{
    margin: 0;
    padding: 0;
    background: rgb(252, 255, 206);
    background: url(images/bg.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
#root h1, #sobre h2, #contato h2{
    text-align: center;
    color: rgb(226, 226, 226);
    text-shadow: -1px 1px 2px rgb(0, 0, 0);
    padding: 5px;
    margin: 0 auto;
    font-family: 'Amaranth', sans-serif;
}
.countries{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-shadow: -1px 1px 2px rgb(0, 0, 0);
    color:rgb(226, 226, 226);
    font-family: 'Amaranth', sans-serif;
    font-size: 1.5em;
}
.flex-col{
    display: flex;
}

.countries figure{
    margin: 20px;
    text-align: center;
}
#nomePais, #nomeIndicador{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color:white;
    text-shadow: -1px 1px 2px rgb(0, 0, 0);
}

#tabela{
    background-color: #ffffffc9;
    padding: 0;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    width: 30%;
    border: 1px solid black;
    border-collapse: collapse;
}

#chart{
    height: 60%;
    width: 60%;
    margin: 10px auto;
}

#tabela td, #tabela th{
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
}
#res p{
    padding: 5px 20px;
}
#filtro{
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    width: 60%;
    height: 40px;
}
#ordem{
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    height: 40px;
}
ul{
    list-style-type: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #5a5959;
    font-family: 'Amaranth', sans-serif;
}
li{
    float: left;
    width: 33.33%;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #111111;
    color: #ff7777;
}
.dados{
    padding: 15px;
    margin-bottom: 10px; 
    text-align: center;
}

#media{
    /* background-color: rgba(255, 255, 255, 0.788); */
    padding: 10px;
    display: inline-block;
    text-align: center; 
    color: #ffffff;
    /* border: 1px solid yellow; */
    font-size: 1.2em;
    text-shadow: -1px 1px 2px rgb(0, 0, 0);
}

.resultados{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    font-family: 'Amaranth', sans-serif;
    align-items: center;
    width: 80%;
    margin:0 auto;
}
#sobre div{
    padding: 5px 20px;
    text-indent: 25px;
    /* color: rgb(226, 226, 226); */
    background-color: #ffffff96;
    text-align: justify;
}

@media only screen and (max-width: 520px){
    html{
        font-size: 1rem;
    }
    #root h1{
       font-size: 1.5em; 
    }
    #tabela, #chart{
        width: 70%;
    }
    .countries img{
        width: 50px;
        height: 50px;
    }
    .countries{
        font-size: 1.2em;
    }
    .countries figure{
        margin: 5px 20px;
    }
    .resultados{
        flex-direction: row;
        width: 90%;
    }
    #ordem, #filtro{
        margin-top: 5px;
    }
    #filtro{
        width: 80%;
    }
}